.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #6c7789;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  width: 400px;
  height: 200px;
  background-color: #0f1724;
}

.sliderContainer {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  text-align: center;
 
 
}