.App {
  text-align: center;
  background-color: #6c7789;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.card-slider {
  width: 50vw;
  margin: 0 auto;
}
.card {
  width: 100px;
  height: 100%;
  background-color: #0f1724;
  border: 1px solid rgb(250, 252, 250);
}

.sliderContainer {
  margin: 0 auto;
  width: 60vw;
  height: 450px;
  text-align: center;
 
 
}

.cart-container {
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 1rem;
}

.cart-icon {
  padding: 5px 20px;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
}

/* Modal  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: #92a3be;
  width: 90vw;
  height: 80vh;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}